.board {
  width: fit-content;
  background-color: var(--blue-800);
  margin: 0 50px;
  padding: 10px;
  border-radius: 5px;
  gap: 10px;

  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
}

.row {
  display: flex;
  flex-flow: nowrap row;
  gap: 10px;
}
